<h1>Dashboard</h1>

<div class="confirm-dialog">
  <div class="dialog-info">
    <h1>Aviso importante</h1>
    <p>
      Em breve iremos atualizar os servidores e isso causará uma instabilidade
      nos acessos à plataforma.
    </p>
  </div>
  <div class="dialog-actions">
    <button class="button-primary">Cancelar</button>
    <button class="button-secondary">Confirmar</button>
  </div>
</div>

<div class="card-box">
  <div class="card-top">
    <b>Label</b>
    <img src="assets/dashboard.svg" alt="">
  </div>
  <div class="card-content">
    <h2>Label</h2>
  </div>
</div>
